<!doctype html>

<html lang="en">

  <%- include ('global/header', {title:"about"}) %>
  <%- include ('global/navbar', {blog_array: blog_array}) %>


<body>

<h2> About </h2>

<div class = "container-fluid">
  <div class ="col-lg-12">
          <div class="jumbotron vertical-center" style="background-color: #f2e6dc; padding:5px">
  <h3> Why this topic? </h3>
  <p class="text"> The search for extraterrestrial life is an interesting topic because it's really a search to answer the question, "are we<br> alone in the universe?" The universe is so incredibly vast and we've explored so much of it, and yet we haven't found any <br>
   other life. How is it that the Earth is so teeming with life, and no other planet we've explored is? </p>
</div>
</div>
</div>

<div class = "container-fluid">
        <div class ="col-lg-12">
          <div class="jumbotron vertical-center" style="background-color: #f2e6dc; padding:5px">

  <h3> Online Resources: </h3>
  <ol> 
  <li> <a href="https://exoplanets.nasa.gov/faq/5/is-there-life-on-other-planets/"> A brief description of NASA's past explorations to find extraterrestrial life </a>  </li>

  <li>  <a href="https://www.businessinsider.com/nasa-plans-to-find-alien-life-next-decade-2019-11"> An article by Business Insider describing the future of NASA's missions to explore alien life </a>  </li>

  <li> <a href ="https://www.forbes.com/sites/startswithabang/2019/06/14/is-alien-life-hiding-beyond-earth-2-0/#2a699f1c2966"> A Forbes article that gives a simple overview of the science behind the search for other forms of life </a> </li>

  </ol>
</div>
</div>
</div>


<%- include ('global/footer') %>


</body>

</html>