<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="text/html" http-equiv="Content-type">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>About</title>
  <link rel="shortcut icon" type="image/png" href="/data_journalism/src/public/images/health_icon.jpg">
  <meta name="description" content="Hello World">
  <meta name="author" content="Rachel Africk">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
</head>

<body>
  <%- include('global/navbar'); %>
  <%- include('global/header'); %>


  <div class="col-sm-8">
    <div class="row">
      <div class="CommonTerms">
        <h2> Common Terms: </h2>
        <ul>
          <li> Medicare: A U.S. public health care program for individuals over the age of 65 </li>
          <li> Medicaid: A U.S. public health care program for low income individuals </li>
          <li> Uninsured: Individuals lacking any form of health insurance </li>
        </ul>
      </div>
      <div class="row">
        <h2> Our Prototypes: </h2>
        <div class="col-sm-4">
          <div class="row">
            <img src="/data_journalism/src/public/images/sanya1.jpg"> </img>
            <figcaption> Figure 1 - Sanya's Macro-Summary </figcaption>
          </div>
          <div class="row">
            <img src="/data_journalism/src/public/images/sanya2.jpg"> </img>
            <figcaption> Figure 3 - Sanya's Micro-Summary </figcaption>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <img src="/data_journalism/src/public/images/rachel1.jpg"> </img>
            <figcaption> Figure 2 - Rachel's Macro-Summary </figcaption>
          </div>
          <div class="row">
            <img src="/data_journalism/src/public/images/rachel2.jpg"> </img>



            <figcaption> Figure 4 - Rachel's Micro-Summary </figcaption>
          </div>
        </div>
      </div>
      <div class="row">
        <h3> Analysis of Design Principles </h3>
        <p> From the perspective of understandability, we feel that all four figures are successful.
          The data is shown clearly in each of them, and it is easy to discern the point being made.
          From the perspective of simplicity, we feel that figure one is more successful because
          the links are attached to the states themselves. This takes out the step of searching for
          the desired state on the list and simplifies the design interface. While figure four appears more
          simple than figure three, we felt that the information provided by each is critical. In terms of structure, we felt that both figure three and figure four did an excellent job by grouping
          data together into one chart. For example, comparing the state to the national average in one chart.
          From the perspective of achievability we felt that figures one and two were rather similar; They both showed
          the data using color coding and did so effectively. However, figure one included Hawaii and Alaska which is important. Figures three and four each brought unique strengths in that
          figure three brought additional relevant data and figure four brought the comparison to the national average. </p>
        <h3> Which Elements We Chose </h3>
        <p> For our final design, we chose to incorporate the most successful elements from each. From figure one we chose to
          incorporate the links on the states rather than in a separate list, and from figure two the color coded map of the
          USA. From figure three we included the data about medicare, medicaid and other insurance plans because we thought it was
          important to provide this data to the viewer. From figure four, we included the comparison to the national average.</p>
        <h3> Our Division of Labor </h3>
        <p> To divide the labor, we completed all work while on Zoom together. This allowed us to share the screen and code together. For example, while one of us was inputting o
          content into an html file, the other would write the content. In addition, sharing the screen allowed us to troubleshoot any errors together. For the about page, Sanya uploaded the images and designed the HTML, while Rachel wrote the
          analysis of the prototypes. However, both were discussed and done together. </p>
      </div>

      <div class="row">
        <h2> Our Build Pipeline </h2>
        <img src="/data_journalism/src/public/images/pipeline.png"> </img>
      </div>
    </div>

    <%- include('global/footer'); %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>

</html>